@CHARSET "UTF-8";

html{
  height:100%;
  width:100%;
}

body{
  background-color: #dfdfdf;
  height:90%;
  width:98%;
  margin: auto;
}

#map-canvas {
  height: 95%;
  width: 100%;
  margin: 3px;
  padding: 0px;
  top:80px;
}

#div-left {
	float:left;
}

#div-right {
	float: right;
}

#div-forms{
	margin-left:auto;
	margin-right:auto; 
	width: 600px;
}
