{% extends 'base.html' %}
{% block cabecalho %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Adding controls to the map</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
function initialize() {
  var mapOptions = {
    zoom: 15,
    center: new google.maps.LatLng(-6.467149,-37.084322),
    panControl: false,
    zoomControl: false,
    scaleControl: true
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'),
                                mapOptions);
  var ponto = document.getElementById('ponto')
  if (ponto != null){
      var latitude = ponto.value.split(',')[0];
      var longitude = ponto.value.split(',')[1];
      var marcador = new google.maps.Marker({
          map:map,
          position: new google.maps.LatLng(latitude, longitude),
          title: "Ponto",
          }
      );
  }
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
{% endblock %}
{% block corpo %}
    <input id='ponto' type='hidden' value='{{p}}'>
    <form method="post" action="/">
        {% csrf_token %}
        <input name='endereco' type='text'>
        <input type='submit' value='Marcar'>
    </form>
    
    <div>
        Ponto: {{p}}
    </div>

    <div id="map-canvas"></div>
    <script>
    </script>
{% endblock %}