{% extends 'base.html' %}
{% block cabecalho %}
    <!-- Google Maps -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="/static/js/functions.js"></script>
    {% endblock %}

{% block corpo %}
    <div id="div-forms">
    
        <div id="div-left">
	        <img src="/static/img/red.png">
		    <select id='left' name="tipo" onchange="getPontosLeft()">
				<option value="">---------</option>
				{% for t in tipos %}
				<option value="{{t.0}}">{{t.1}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div id="div-right">
			<img src="/static/img/green.png">
		    <select id='right' name="tipo" onchange="getPontosRight()">
				<option value="">---------</option>
				{% for t in tipos %}
				<option value="{{t.0}}">{{t.1}}</option> <!-- t.0 quer dizer t[0] -->
				{% endfor %}
			</select>
		</div>
	
	</div>
    <div id="map-canvas"></div>
{% endblock %}
